src/test/resources/alekseybykov/pets/tff_processor/xsd/TffSchemes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tff_scheme" type="tff_schemeType"/>
  <xs:complexType name="validatorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="length" use="required"/>
        <xs:attribute type="xs:string" name="condition" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="fieldType">
    <xs:sequence>
      <xs:element type="validatorType" name="validator"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="position" use="required"/>
    <xs:attribute type="xs:string" name="mandatory" use="required"/>
    <xs:attribute type="xs:string" name="description" use="required"/>
  </xs:complexType>
  <xs:complexType name="fieldsType">
    <xs:sequence>
      <xs:element type="fieldType" name="field" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sectionType">
    <xs:sequence>
      <xs:element type="fieldsType" name="fields"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="marker" use="required"/>
    <xs:attribute type="xs:string" name="mandatory" use="required"/>
    <xs:attribute type="xs:string" name="description" use="required"/>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="sectionType" name="section" maxOccurs="4" minOccurs="4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element type="fieldsType" name="fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element type="fieldsType" name="fields"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="marker" use="required"/>
    <xs:attribute type="xs:string" name="mandatory" use="required"/>
    <xs:attribute type="xs:string" name="multiple" use="required"/>
    <xs:attribute type="xs:string" name="description" use="required"/>
  </xs:complexType>
  <xs:complexType name="tablesType">
    <xs:sequence>
      <xs:element type="tableType" name="table" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="headerType" name="header"/>
      <xs:element type="tablesType" name="tables"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="mandatory"/>
    <xs:attribute type="xs:string" name="description"/>
  </xs:complexType>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element type="metadataType" name="metadata"/>
      <xs:element type="dataType" name="data"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="description"/>
  </xs:complexType>
  <xs:complexType name="tff_schemeType">
    <xs:sequence>
      <xs:element type="documentType" name="document"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="marker"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>
